{ "extends": "eslint:recommended"
, "rules":
  { "max-len":
    [ 2
    , 120
    , 2
    ]
  , "no-case-declarations": 0
  , "no-fallthrough": 0
  , "indent":
    [ 0
    , 2
    , { "SwitchCase": 1
      }
    ]
  , "quotes":
    [ 1
    , "single"
    , "avoid-escape"
    ]
  , "semi":
    [ "warn"
    , "never"
    ]
  , "no-unexpected-multiline": 1
  , "no-unused-vars": ["error", { "varsIgnorePattern": "[iI]gnored" }]
  , "no-multi-spaces": [1]
  , "space-in-parens": 1
  , "arrow-parens": [1, "as-needed"]
  , "comma-style":
    [ 2
    , "first"
    ]
  , "comma-spacing": 2
  , "operator-linebreak":
    [ 2
    , "after"
    , { "overrides": { "?": "ignore", ":": "ignore" } }
    ]
  , "keyword-spacing":
    [ "error"
    , "overrides":
      { "throw":
        { "after": false
        }
      }
    ]
  }
, "env":
  { "node": true
  , "es6": true
  }
}
